<% include includes/header %>

<div class='container top-buffer'>
<div class='card card-body'>
<h1 class='modal-header'>About:</h1>
<p> InfoHub is a blogging website aimed towards technology, programming
    and computer science. InfoHub was built by Ben Henderson, age 14,
    using server-side technologies such as Node JS, Express JS and 
    many more Node Modules used to provide functionality from registration
    to image transfer, database management, JSON parsing, password encryption etc.
</p>
<h1 class='modal-header'>Post Guidelines:</h1>
<p> Posts on InfoHub should be aimed towards the topics defined above, should be 
    interesting to read. Providing links to external sources or interesting
    media in a post is highly encouraged. If a post contains false information,
    vulgar content or is not related to a topic stated above it may be taken down. Any questions
    regarding programming that are based on a specific error such as an
    "stack overflow exception", should be directed to the appropriately named
    website, <a href="https://www.stackoverflow.com">StackOverflow</a> or
    to another source that provides error support.
 </p>
</div>

<% include includes/footer %>