<% include includes/header %>

<div class='container top-buffer'>
<div class='card card-body'>
<h1 class='modal-header'>Services:</h1>
<p> InfoHub offers create, read, update and delete functionality across multimedia sources such
    as text, images and video. Using a Mongo Database and Node JS InfoHub offers a speedy, responsive
    website to cater for the needs of any blog post. I hope InfoHub can offer the required services 
    to provide for any user's needs.</p>
</div>

<% include includes/footer %>