.top-buffer{margin-top: 15px;}
.bottom-buffer{margin-bottom: 15px;}
.btn-pair{color:white}
.hidden{
    color: transparent
}
.small-title{
    font-size: 50px;
}
.cover-img{
    max-height: 400px; 
    max-width: 100%; 
    object-fit: 'contain';
    border-radius: 5px;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

  